<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> 
    </head>
    <div class="container mt-4">
        <header class="mb-4">
            <h1 class="text-center">Tabela de notas</h1>
        </header>
            <div class="col-md-8">
                <table class="container text-center" id="scoreTable">
                        <tr>
                            <th>Nome</th>
                            <th>Matemática</th>
                            <th>Biologia</th>
                            <th>Química</th>
                        </tr>
                </table>
            </div>
    </body>
    <script>
            let alunos = [
                ["José Antunes", 18, 18, 20],
                ["Maria Antonieta", 15, 13, 19],
                ["Ana Antunes", 19, 14, 15],
                ["Rute Rosa", 17, 15, 13],
                ["Jonathan Castillo", 16, 12, 17]
            ];
    
            const tabelaBody = document.getElementById("scoreTable");
            
            alunos.forEach(aluno => {
                let row = "<tr>";
                aluno.forEach(score => {
                    row += `<td>${score}</td>`;
                });
                row += "</tr>";
                tabelaBody.innerHTML += row;
            });
    </script>